* {
  font-family: Georgia, 'Times New Roman', Times, serif; 
}
.App {
  height: 100vh; 
}
.app-header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem -1rem;
  color: #4e3bbd;
}
.app-header > h1 {
  display: flex;
  padding-left: 1rem;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
 }
 nav {
  display: flex;
  flex-direction: row; 
  align-items: center;
}
.nav-link {
  color: #4e3bbd; 
  font-size: 1.5rem;
  padding-left: 10px; 
  padding-right: 30px;
  text-decoration: none;
}
.nav-link:hover {
  color: #4e3bbd;
  text-transform: uppercase;
  font-weight: bold; 
}

/* Login */
.login-container {
  margin: 5rem 15rem;
  border: 2px solid #e6e5f2;
  background-color: #ebeaf2;
}
.login-container > h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #4e3bbd;
  font-size: 2rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}
.login-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-options > button {
  margin: 1.5rem 0;
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: #b8b2e3; 
  font-size: 1.5rem;
}
.login-options > button:hover {
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: black; 
  font-weight: bold;
}
.login-options > a {
  color: #4e3bbd; 
}
.login-options > a:hover {
  background-color: white; 
  color: #4e3bbd; 
  font-weight: bold;
}

/* Register */
.register-container {
  margin: 5rem 15rem;
  border: 2px solid #e6e5f2;
  background-color: #ebeaf2;
  padding-bottom: 1rem;
}
.register-container > h2 {
  margin-bottom: 1.5rem;
  text-align: center; 
  color: #4e3bbd;
  font-size: 2rem;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}
.register-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.register-options > button {
  margin: 1.5rem 0;
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: #b8b2e3; 
  font-size: 1.5rem;
}
.register-options > button:hover {
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: black; 
  font-weight: bold;
}
.register-options > a {
  color: #4e3bbd; 
}
.register-options > a:hover {
  background-color: white; 
  color: #4e3bbd; 
  font-weight: bold;
}

/* Admin Footer  */
.admin-footer {
  background-color: #b8b2e3;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  color: #3b3a40;
}
.footer-link-1 {
  color:black;
}
.footer-link-2 {
  color: black;  
}

/* single ticket */
.single-ticket-flex {
  display:flex;
  padding: 1rem 1rem;
}
.ticket-info {
  text-align:center;
  flex: .7;
  margin: 2rem 0;
  border: 2px solid #e6e5f2;
  background-color: #ebeaf2;
  flex-direction: column;
  font-size: 1rem;
}
.single-ticket-flex > form > button {
  background-color: white; 
  border: 2px solid #e6e5f2; 
  color: #b8b2e3; 
}
.single-ticket-flex > form > button:hover {
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: black; 
  font-weight: bold;
}

/* all tickets */
.tickets-container{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 3rem;
}
.tickets-container > li {
  box-shadow: 0 1px 4px 0 rgba(141, 75, 248, 0.7);
  transition: 0.3s;
  width: 15rem;
  margin: 10px;
  padding: 1rem;
  background: white; 
}
.all-tickets-details {
  text-align: center;
}
.all-tickets-details > button {
  margin: 1.5rem 0;
  background-color: white; 
  border: 2px solid #e6e5f2; 
  color: #b8b2e3; 
}
.all-tickets-details > button:hover {
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: black; 
  font-weight: bold;
}

/* all users */
.users-container{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 3rem;
}
.users-container > li {
  box-shadow: 0 1px 4px 0 rgba(141, 75, 248, 0.7);
  transition: 0.3s;
  width: 15rem;
  margin: 10px;
  padding: 1rem;
  background: white; 
}

/* homepage */
.homepage-container{
 box-shadow: 0 1px 4px 0 rgba(141, 75, 248, 0.7);
 transition: 0.3s;
 width: 50rem;
 margin: auto;
 padding: 1rem;
 background: white; 
 text-align: center;
 margin-top: 2rem;
 
}

/* ticket form */
.add-ticket-form {
  margin: 5rem 15rem;
  border: 2px solid #e6e5f2;
  background-color: #ebeaf2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.add-ticket-form > button {
  margin: 1.5rem 0;
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: #b8b2e3; 
  font-size: 1.5rem;
}
.add-ticket-form > button:hover {
  background-color: white; 
  border: 2px solid #b8b2e3; 
  color: black; 
  font-weight: bold;
}



